<%= link_to "New Cheese", new_cheese_path %>
<div class="grid-items">
	<% @cheeses.each do |c| %>
		<a href="javascript:void(0)" class="grid-item">
			<h2><%= link_to c.name, c %></h2>
			<% if c.cheeseimg_file_name == nil %>
			<% else %>
				<%= image_tag c.cheeseimg.url(:medium) %>
			<% end %>
		</a>
  <% end %>
</div>
