<article class="type-system-slab">
  <h1>About</h1>
  <p>BloomyMinded is an attempt to capture tasting notes and information about the words cheeses.  As a previous cheesemonger I was always looking for a place to find information and to connect with other cheese people.  BloomyMinded seeks to be the cheese communities home on the web.  Tasting notes, pairings, guest blog posts, crowd-sourced cheese database, and more soon to come.  Stay tuned.</p>
  <h3>Rails Rumble</h3>
  <p>This is a contest entry for Rails Rumble 2015.  I've been learning rails on and off during my studies and wanted to take a stab and creating a rails app with BDD.  Vote for me <%= link_to "here", 'http://railsrumble.com/entries/239-bloomyminded' %>.  I am also looking for internship opportunities in Chicago or remote.  You can reach me at codyjroberts@gmail.com</p>
  <hr>
  <p class="author">Cody</p>
</article>
