<article class="type-system-slab">
  <h1>About</h1>
  <p>BloomyMinded is an attempt to capture tasting notes and information about the worlds cheeses.  As a previous cheesemonger I was always looking for a place to find information and to connect with other cheese people.  BloomyMinded seeks to be the cheese communities home on the web.  Tasting notes, pairings, guest blog posts, crowd-sourced cheese database, and more soon to come.  Stay tuned.</p>
  <h3>Rails Rumble</h3>
  <p>This is an entry for Rails Rumble 2015.  I've been learning Ruby and Rails on and off for a few months in supplement to my Comp Sci studies and wanted to take a dive into BDD with RSpec and Capybara, and learn how to use OmniAuth and Amazon S3.  This concept is something I've been toying with for a long time and given my inexperience with Rails I figured Rails Rumble would be the perfect opportunity to get it started.  Vote for me <%= link_to "here", 'http://railsrumble.com/entries/239-bloomyminded' %>!  I am very interested in internship opportunities in Chicago or remote.  You can reach me at codyjroberts@gmail.com</p>
  <hr>
  <h3>Attribution</h3>
  <span>Background Image </span>
  <p><small>by böhringer friedrich (Own work) [CC BY-SA 2.5 (http://creativecommons.org/licenses/by-sa/2.5)], via Wikimedia Commons</small></p>
</article>
