@charset "utf-8";

@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";
@import "refills/grid-items";
@import "refills/centered-navigation";
@import "refills/footer-2";
@import "refills/type-system-slab";
@import "font-awesome";

.fa-github {
  color: white;
}

#new-cheese {
	text-align: center;
}

#logo {
	font-family: 'Great Vibes', cursive;
	font-weight: 600;
	font-size: 3em;
  @include pad();
	color: white;
}

html, body {
	background-color: $light-gray;
	height: 100%;
  margin-top: 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0; 
	padding: 0;
}

section.main {
	@include outer-container;
	
	.content { 
		height: 100%;
		@include span-columns(10); 
		@include pad();
		@include shift(1);
    margin-bottom: 5px; 

		background-color: white;
  	border-left: 2px solid transparentize($dark-gray, .5);
  	border-right: 2px solid transparentize($dark-gray, .5);
  	border-bottom: 2px solid transparentize($dark-gray, .5);
		border-radius: 0px 0px 15px 15px;
	}

	.flashes {
		@include span-columns(6); 
		@include shift(3);
		padding: 5px;
	}
}

.centered {
	text-align: center;
}

section.show-content {
	@include outer-container;
	#dummy {
		text-align: center;
	}

	#alpha {
		aside {
			@include span-columns(5);
		}

		article {
			@include span-columns(7);
			@include reset-display;
		}
	}
}
